.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.itemsContainer {
  max-width: 1360px;
  width: 100%;
  margin: auto;
  padding: 3rem 2rem;
}

.filtersContainer {
  display: flex;
  justify-content: center;
  max-width: 1360px;
  width: 100%;
  margin: auto;
  padding: 3rem 2rem;
  gap: 2rem;
}

.itemWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.itemBox {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s ease;
}

.itemBox:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.imgBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.itemImg {
  width: auto;
  height: 100%;
  object-fit: cover;
  transition: width 0.25s, height 0.25s;
  border-radius: 10px;
}

.des {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: var(--color-black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.itemName {
  font-weight: bolder;
  font-size: 20px;
}

.itemLocation {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-gray-800);
}

.itemDate {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-gray-600);
}

.ctaButton {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.ctaButton::after {
  padding-left: 10px;
  content: '>';
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .itemWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .filtersContainer {
    display: flex;
    flex-wrap: wrap;
    margin: none;
    padding: 1.3rem 0.6rem;
    gap: 1.3rem;
  }

  .itemsContainer {
    padding: 1rem 2rem;
  }

  .imgBox {
    height: 260px;
  }

  .des {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .itemName {
    font-size: 16px;
  }

  .itemLocation {
    font-size: 13px;
  }

  .itemDate {
    font-size: 12px;
  }
  
  .ctaButton {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 12px;
  }
  .ctaButton::after {
    padding-left: 12px;
    content: '>';
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .filtersContainer {
    padding: 1.2rem 0.5rem;
    gap: 1.2rem;
  }

  .imgBox {
    height: 230px;
  }

  .des {
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .itemName {
    font-size: 15px;
  }

  .itemLocation {
    font-size: 12px;
  }

  .itemDate {
    font-size: 11px;
  }
  
  .ctaButton {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 11px;
  }
  .ctaButton::after {
    padding-left: 11px;
    content: '>';
    font-size: 11px;
  }
}

@media screen and (max-width: 375px) {
  .filtersContainer {
    padding: 1.1rem 0.4rem;
    gap: 1.1rem;
  }

  .imgBox {
    height: 230px;
  }

  .des {
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .itemName {
    font-size: 14px;
  }

  .itemLocation {
    font-size: 11px;
  }

  .itemDate {
    font-size: 10px;
  }
  
  .ctaButton {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 10px;
  }
  .ctaButton::after {
    padding-left: 10px;
    content: '>';
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .filtersContainer {
    padding: 1rem 0.3rem;
    gap: 1rem;
  }
  
  .imgBox {
    height: 190px;
  }

  .des {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .itemName {
    font-size: 12px;
  }

  .itemLocation {
    font-size: 10px;
  }

  .itemDate {
    font-size: 8px;
  }
  
  .ctaButton {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 9px;
  }
  .ctaButton::after {
    padding-left: 9px;
    content: '>';
    font-size: 9px;
  }
}
