.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modalButton {
  padding: 10px 20px;
  border: none;
  background-color: rgb(87,13,248);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modalButton:hover {
  background-color: rgb(69, 11, 194);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 340px;
  }

  .modal {
    font-size: 16px;
  }
  
  .modalButton {
    padding: 10px 45px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 415px) {
  .modal {
    width: 340px;
  }

  .modal {
    font-size: 15px;
  }
  
  .modalButton {
    padding: 10px 40px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 375px) {
  .modal {
    width: 300px;
  }

  .modal {
    font-size: 14px;
  }
  
  .modalButton {
    padding: 10px 36px;
    border-radius: 18px;
  }
}

@media screen and (max-width: 360px) {  
  .modal {
    width: 280px;
  }

  .modal {
    font-size: 13px;
  }
  
  .modalButton {
    padding: 10px 30px;
    border-radius: 15px;
  }
}
