.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalContent h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.modalContent p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-main {
  background-color: rgb(87, 13, 248);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-main:hover {
  background-color: rgb(77, 12, 219);
}

.btn-main:active {
  background-color: rgb(69, 11, 194);
}

@media screen and (max-width: 768px) {
  .modalContent {
    width: 340px;
  }

  .modalContent h2 {
    font-size: 18px
  }
  
  .modalContent p {
    font-size: 16px;
  }
  
  .btn-main {
    padding: 10px 45px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 415px) {
  .modalContent {
    width: 320px;
  }

  .modalContent h2 {
    font-size: 17px
  }
  
  .modalContent p {
    font-size: 15px;
  }
  
  .btn-main {
    padding: 10px 40px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 375px) {
  .modalContent {
    width: 300px;
  }

  .modalContent h2 {
    font-size: 16px
  }
  
  .modalContent p {
    font-size: 14px;
  }
  
  .btn-main {
    padding: 10px 36px;
    border-radius: 18px;
  }
}

@media screen and (max-width: 360px) {  
  .modalContent {
    width: 280px;
  }

  .modalContent h2 {
    font-size: 15px
  }
  
  .modalContent p {
    font-size: 13px;
  }
  
  .btn-main {
    padding: 10px 30px;
    border-radius: 15px;
  }
}

